// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main{
  padding-top: 70px;
}

.post{
  max-width: 400px;
  margin: 0 auto;
}

.image{
  height: 400px;
}


.login-resister-form{
  margin-top: 40%;
}

.card-bottom{
  display: flex;
  justify-content: space-between;
}