// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post{
  max-width: 400px;
  margin: 0 auto;
}

.image{
  height: 400px;
}


.login-resister-form{
  margin-top: 40%;
}

.card-bottom{
  display: flex;
  justify-content: space-between;
}

.post-detail.card{
  max-width: 700px;
  flex-direction: row;
  .image-box{
    width: 400px;
  }
  .image-info-box{
    width: 300px;
  }
}

.ml-auto.icons{
  padding-top: 10px;
}

